
body {
    margin: 0;
    background-color: rgb(212, 217, 236);
    overflow: hidden;
}

/* Header */
header {
    height: 100px;
    width: 100%;
    background-color: rgb(242, 238, 227);
    display: flex;
    justify-content: center;
}

header img {
    height: 100%;
}


/* Uploaded image preview */
#workspaceDiv {
    position: absolute;
    top: 55px;
    left: 10px;
    height: 620px;
    width: 620px;
    border: 1px solid black;
    background-color: rgb(250, 248, 241);
    background-image: url('../assets/Image_Preview_Grid_Watermark.png');
}


#contoursDiv {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.contourPxl {
    padding: 0 !important;
    position: absolute;
    height: 1px;
    width: 1px;
    color: red;
    background-color: red;
    border: none;
}
.contourEnabled {
    opacity: 1;
    color: red;
    background-color: red;
}
.contourDisabled {
    opacity: 0.3;
    color: rgb(255, 99, 99);
    background-color: rgb(255, 99, 99);
}

#fileDropPoint {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(210, 210, 210);
}
#fileDropPoint img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 80%;
}

#imgProcessingProgress {
    position: absolute;
    top: 625px;
    height: 25px;
    width: 310px;
    background-color: white;
    border-radius: 10px;
    visibility: hidden;
}

#imgProcessingProgress span {
    position: absolute;
    top: 3px;
    display: block;
    width: 100%;
    text-align: center;
}

.progressBar {
    height: 100%;
    width: 0%;
    background-color: rgb(80, 101, 168);
    border-radius: 10px;
}

#timeLeftSpan {
    position: absolute;
    top: -2px !important;
    left: 320px;
    z-index: 0;
    visibility: hidden;
}


/* Form */
#fileInput {
    position: absolute;
    left: 10px;
    top: 30px;
}

#formDiv {
    position: absolute;
    left: 5%;
    top: 15%;
}

.formButton {
    border-radius: 3px;
    border-width: 1px;
}


/* Processing interface */
.processDiv {
    height: 0%;
    width: 0%;
    position: absolute;
    background-color: rgb(0, 255, 0);
    opacity: 0.5;
}


/* Action buttons */
#actionButtonsDiv {
    height: 450px;
    width: 275px;
    position: absolute;
    top: 160px;
    left: 675px;
}


#objectNumber {
    visibility: hidden;
}

#objectNumberTxt {
    visibility: hidden;
}

#submitImage {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 100px;
    visibility: hidden;
}

.translateSpindle {
    padding-left: 30px;
    padding-right: 30px;
}

.setSpindle {
    margin-left: 60px;
}

#beginTracing {
    height: 100px;
    width: 100px;
    visibility: hidden;
}


/* Event logs */
#eventLogsDivTitleBar {
    height: 25px;
    width: 400px;
    position: absolute;
    top: 135px;
    left: 1000px;
    border: 1px solid black;
    background-color: rgb(250, 248, 241);
}

#eventLogsDivTitleBar p {
    margin: 5px;
    font-weight: bold;
}

#eventLogsDiv {
    height: 475px;
    width: 400px;
    position: absolute;
    top: 160px;
    left: 1000px;
    border: 1px solid black;
    background-color: rgb(250, 248, 241);
    overflow-y: scroll;
}

.eventLogMessageBG {
    min-height: 25px;
    width: 100%;
    margin: 0;
    border: 0;
    display: block;
    background-color: rgb(255, 253, 246);
}

.eventLogMesssage {
    margin: 0;
    border: 0;
    margin-left: 5%;
    display: block;
}


/* Footer */
footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
    margin: 0;
    background-color:  rgb(242, 238, 227);
    display: flex;
    justify-content: center;
}

footer p {
    width: 500px;
    font-size: 15px;
    text-align: center;
    margin-top: 1.15%;
}