
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-3.5.1.js"></script>
        <script src="/js/socket.io/socket.io.js"></script>
        <script src="/js/homeProcessing.js"></script>
    </head>
    <body onload="progressDivsLoaded()">
        <header>
            <img src="/assets/StyroCut-logos.jpeg" alt="StyroCut©">
        </header>
        <div id="formDiv">
            <form id="uploadForm">
                <label for="fileInput">Upload a <b>100x100 pixel PNG image</b> to initiate the processing step.</label><br><br>
                <input class="formButton" type="file" accept="image/png" name="uploadedImage" id="fileInput" size="n" onchange="getOutput()"/>
                <input class="formButton" type="submit" id="submitImage"/>
            </form>
            <div id="imgPreviewDiv">
                <img id="previewImg">
                <div id="imgProcessingProgress">
                    <div id="progressBar" class="progressBar"></div>
                    <span id="progressBarSpan">Processing image: 0%</span>
                    <span id="timeLeftSpan">Time left until completion (hh:mm:ss): 00:00:00</span>
                </div>
                <div id="progressDivs">

                </div>

                <div id="contoursDiv">

                </div>

                <div id="fileDropPoint">
                    <img id="fileDropPointImg" src="/assets/dropImageHere.jpg" alt="Drag and drop file here or click the above 'Choose file' button." ondragenter="fileDropDivDragEnter(event)" ondragover="fileDropDivDragOver(event)" ondrop="fileDropDivDragDrop(event)">
                </div>
            </div>
            <div id="actionButtonsDiv">
                <input type="image" src="/assets/Play_Button.png" alt="Begin cutting" title="Begin cutting" id="beginCutting"/>
            </div>
            <div id="eventLogsDivTitleBar">
                <p>Events</p>
            </div>
            <div id="eventLogsDiv">
                
            </div>
        </div>
        <footer>
            <p>Designed and programmed by Yasir Mustafa</p>
        </footer>
    </body>
</html>
