
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-3.5.1.js"></script>
        <script src="/js/socket.io/socket.io.js"></script>
        <script src="/js/homeProcessing.js"></script>
    </head>
    <body onload="progressDivsLoaded()">
        <header>
            <img src="/assets/Prospect-logos/regular.jpeg" alt="StyroCut©">
        </header>
        <link rel="icon" href="/assets/Prospect-logos/icon.ico">
        <div id="formDiv">
            <form id="uploadForm">
                <label for="fileInput">Upload a <b>PNG image</b> <i>(no bigger than 620x620 pixels)</i>, select a tracing method and click submit to begin processing.</label><br><br>
                <input class="formButton" type="file" accept="image/png" name="uploadedImage" id="fileInput" size="n" onchange="getOutput()"/>            </form>
            <div id="workspaceDiv">
                <img id="previewImg">
                <div id="imgProcessingProgress">
                    <div id="progressBar" class="progressBar"></div>
                    <span id="progressBarSpan">Processing image: 0%</span>
                    <span id="timeLeftSpan">Time left until completion (hh:mm:ss): 00:00:00</span>
                </div>
                <div id="progressDivs">

                </div>

                <div id="contoursDiv">

                </div>

                <!--<div id="fileDropPoint">
                    <img id="fileDropPointImg" src="/assets/dropImageHere.jpg" alt="Drag and drop file here or click the above 'Choose file' button." ondragenter="fileDropDivDragEnter(event)" ondragover="fileDropDivDragOver(event)" ondrop="fileDropDivDragDrop(event)">
                </div>-->
            </div>
            <div id="actionButtonsDiv">
                <input type="radio" name="traceMethod" id="traceAll" value="traceAll" checked>
                <label for="traceAll">Trace all (e.g. drawings)</label><br>
                <input type="radio" name="traceMethod" id="traceOutlines" value="traceOutlines">
                <label for="traceOutlines">Trace outline/s (e.g. PCBs)</label><br>
                <input class="formButton" type="submit" id="submitImage"/>

                <br>

                <input type="checkbox" name="spindleRotation" id="spindleRotation">
                <label for="spindleRotation">Enable spindle rotation during tracing <b>(required when drilling/etching)</b></label><br>
                <br><br>

                <button class="translateSpindle" id="translateSpindleUp">^</button>
                <button class="setSpindle" id="setUpPosition">Set 'up' position</button>
                <br>
                <button class="translateSpindle" id="translateSpindleDown">v</button>
                <button class="setSpindle" id="setDownPosition">Set 'down' position</button>

                <br><br>
                
                <input type="image" src="/assets/Play_Button.png" alt="Begin tracing" title="Begin tracing" id="beginTracing"/>
            </div>
            <div id="eventLogsDivTitleBar">
                <p>Events</p>
            </div>
            <div id="eventLogsDiv">
                
            </div>
        </div>
        <footer>
            <p>Designed and programmed by Yasir Mustafa</p>
        </footer>
    </body>
</html>
