
<!DOCTYPE html>
<html>
    <head>
        <script src="/js/homeProcessing.js"></script>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body onload="progressDivsLoaded()">
        <header>
            <img src="/assets/StyroCut-logos.jpeg" alt="StyroCut©">
        </header>

        <div id="formDiv">
            <form id="uploadForm" action="../../upload" method="POST" enctype="multipart/form-data">
                <label for="fileInput">Upload a <b>100x100 pixel PNG file</b> to initiate the processing step.</label><br><br>
                <input class="formButton" type="file" accept="image/png" name="uploadedImage" id="fileInput" size="n" onchange="getOutput()"/>
                <input class="formButton" type="submit" id="submitImage"/>
            </form>
            <div id="imgPreviewDiv">
                <img id="previewImg">
                <div id="imgProcessingProgress">
                    <div class="progressBar" style="width: <%= processing_progress%>%"></div>
                    <span>Processing image: <%= processing_progress%>%</span>
                </div>
                <div id="progressDivs">

                </div>
            </div>
        </div>
    </body>
</html>
